.annotationsListContainer * {
   color: black;
   font-size: 11.5px;
   font-weight: normal;
}

   .annotationsListContainer * > .panel {
      margin-bottom: 0px;
   }

   .annotationsListContainer * > .panel-heading {
      background-color: transparent;
      background: none;
   }

   .annotationsListContainer * > a {
      text-decoration: none !important;
   }

   .annotationsListContainer * > .collapse-expand {
      text-align: left;
      padding-top: 5px;
      padding-left: 25px;
      border: none;
      width: 13px;
      height: 13px;
      background-size: 13px 13px;
      display: inline;
   }

   .annotationsListContainer * > .panel-collapse > * {
      padding-left: 15px;
   }

.page-panel > .panel-heading {
   border-bottom: 1px solid black;
}

.object-panel > .panel-heading, .review-panel > .panel-heading {
   padding-top: 5px;
   border-bottom: 1px solid black;
   padding-bottom: 0px;
   height: 57px;
}

   .object-panel > .panel-heading > .accordion-toggle, .review-panel > .panel-heading > .accordion-toggle {
      position: relative;
      bottom: 15px;
   }

   .object-panel > .panel-heading > input[type=checkbox], .review-panel > .panel-heading > input[type=checkbox] {
      position: relative;
      bottom: 14px;
   }


   .object-panel > .panel-heading.selected {
      outline: 2px;
      outline-style: solid;
      outline-color: gray;
      outline-offset: -1px;
   }

.annObjectImage {
   position: relative;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
   width: 18px;
   height: 18px;
   background-size: 18px 18px;
   position: relative;
   bottom: 12px;
}

.objectInfoContainer {
   position: relative;
   width: inherit;
   padding-left: 15px;
   display: inline-block;
}

   .objectInfoContainer > label {
      display: block;
      margin-bottom: 0px;
   }

.textareaContainer {
   position: absolute;
   display: inline-block;
   left: 300px;
   right: 20px;
}

   .textareaContainer > textarea {
      width: 100%;
      resize: none;
      height: 40px;
   }


.dropdown-submenu {
   position: relative;
}

   .dropdown-submenu > .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
      width: inherit;
      border: 1px solid silver;
      bottom: inherit;
   }

   .dropdown-submenu:hover > .dropdown-menu {
      display: block;
   }

   .dropdown-submenu > a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #cccccc;
      margin-top: 5px;
      margin-right: -10px;
   }

   .dropdown-submenu:hover > a:after {
      border-left-color: #ffffff;
   }

   .dropdown-submenu.pull-left {
      float: none;
   }

      .dropdown-submenu.pull-left > .dropdown-menu {
         left: -100%;
         margin-left: 10px;
         -webkit-border-radius: 6px 0 6px 6px;
         -moz-border-radius: 6px 0 6px 6px;
         border-radius: 6px 0 6px 6px;
      }

.dropdown-menu .divider {
   margin: inherit;
   background-color: lightgray;
}

@media screen and (max-width: 500px) {
   .textareaContainer {
      left: 250px;
      right: 5px;
   }

   .annotationsListContainer * {
      font-size: 10px;
   }
}

#annTreeNodeContextMenu, #annReviewNodeContextMenu {
   position: absolute;
   display: none;
}

   #annTreeNodeContextMenu > .dropdown-menu, #annReviewNodeContextMenu > .dropdown-menu {
      width: inherit;
      border: 1px solid silver;
   }
