.icon {
   position: relative;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
   width: 35px;
   height: 25px;
   top: 3px;
}

.icon-md {
   width: 24px;
   height: 24px;
   background-size: 16px 16px;
}

.icon-sm {
   width: 16px;
   height: 16px;
   background-size: 16px 16px;
}

.icon-xs {
   margin: 0 auto;
   top: 50%;
   width: 10px;
   height: 10px;
}

.duplicateIcon {
   background-image: url(../Images/Icons/MultiPagesExportText.png);
}

.openIcon {
   background-image: url(../Images/Icons/Open.png);
}

.openUrlIcon {
   background-image: url(../Images/Icons/OpenUrl.png);
}

.server {
   background-image: url(../Images/Icons/Server.png);
}

.openAnnotationIcon {
   background-image: url(../Images/Icons/OpenAnnotation.png);
}

.loadBatesStampIcon {
   background-image: url(../Images/Icons/LoadBates.png);
}

.saveIcon {
   background-image: url(../Images/Icons/Save.png);
}

.saveXMLIcon {
   background-image: url(../Images/Icons/SaveXML.png);
}

.closeIcon {
   background-image: url(../Images/Icons/Close.png);
}

.viewIcon {
   background-image: url(../Images/Icons/View.png);
}

.propertiesIcon {
   background-image: url(../Images/Icons/Properties.png);
}

.runIcon {
   background-image: url(../Images/Icons/Run.png);
}

.undoIcon {
   background-image: url(../Images/Icons/Undo.png);
}

.redoIcon {
   background-image: url(../Images/Icons/Redo.png);
}

.selectAllTextIcon {
   background-image: url(../Images/Icons/SelectAllText.png);
}

.selectAllAnnotationsIcon {
   background-image: url(../Images/Icons/SelectAllAnnotations.png);
}

.findTextIcon {
   background-image: url(../Images/Icons/FindText.png);
}

.clearSelectionIcon {
   background-image: url(../Images/Icons/ClearSelection.png);
}

.copyTextIcon {
   background-image: url(../Images/Icons/CopyText.png);
}

.selectAreaIcon {
   background-image: url(../Images/Icons/SelectAreaMode.png);
}

.panZoomIcon {
   background-image: url(../Images/Icons/PanZoomMode.png);
}

.magnifyGlassIcon {
   background-image: url(../Images/Icons/MagnifyGlassMode.png);
}

.panIcon {
   background-image: url(../Images/Icons/PanMode.png);
}

.zoomIcon {
   background-image: url(../Images/Icons/ZoomMode.png);
}

.zoomToIcon {
   background-image: url(../Images/Icons/ZoomToMode.png);
}

.selectTextIcon {
   background-image: url(../Images/Icons/SelectTextMode.png);
}

.autoPanIcon {
   background-image: url(../Images/Icons/AutoPanMode.png);
}

.inertiaScrollIcon {
   background-image: url(../Images/Icons/InertiaScroll.png);
}

.fitIcon {
   background-image: url(../Images/Icons/Fit.png);
}

.actualSizeIcon {
   background-image: url(../Images/Icons/ActualSize.png);
}

.actualPageSizeIcon {
   background-image: url(../Images/Icons/Document.png);
}

.page-FitIcon {
   background-image: url(../Images/Icons/FitPage.png);
}

.fitWidthIcon {
   background-image: url(../Images/Icons/FitWidth.png);
}

.svgViewIcon {
   background-image: url(../Images/Icons/ViewAsSvg.png);
}

.imageViewIcon {
   background-image: url(../Images/Icons/ViewAsImage.png);
}

.thumbnailsIcon {
   background-image: url(../Images/Icons/Thumbnails.png);
}

.bookmarksIcon {
   background-image: url(../Images/Icons/Bookmarks.png);
}

.annotationsIcon {
   background-image: url(../Images/Icons/Annotations.png);
}

.firstPageIcon {
   background-image: url(../Images/Icons/FirstPage.png);
}

.previousIcon {
   background-image: url(../Images/Icons/PreviousPage.png);
}

.nextIcon {
   background-image: url(../Images/Icons/NextPage.png);
}

.lastPageIcon {
   background-image: url(../Images/Icons/LastPage.png);
}

.singlePageExportTextIcon {
   background-image: url(../Images/Icons/SinglePageExportText.png);
}

.multiPagesExportTextIcon {
   background-image: url(../Images/Icons/MultiPagesExportText.png);
}

.barcodeIcon {
   background-image: url(../Images/Icons/Barcode.png);
}

.singleLayoutIcon {
   background-image: url(../Images/Icons/Document.png);
}

.doubleLayoutIcon {
   background-image: url(../Images/Icons/DoubleLayout.png);
}

.verticalLayoutIcon {
   background-image: url(../Images/Icons/VerticalLayout.png);
}

.horizontalLayoutIcon {
   background-image: url(../Images/Icons/HorizontalLayout.png);
}

.zoomInIcon {
   background-image: url(../Images/Icons/ZoomIn.png);
}

.zoomOutIcon {
   background-image: url(../Images/Icons/ZoomOut.png);
}

.flipIcon {
   background-image: url(../Images/Icons/Flip.png);
}

.reverseIcon {
   background-image: url(../Images/Icons/Reverse.png);
}

.rotateCounterClockwiseIcon {
   background-image: url(../Images/Icons/CounterClockwise.png);
}

.rotateClockwiseIcon {
   background-image: url(../Images/Icons/Clockwise.png);
}

.interpolationIcon {
   background-image: url(../Images/Icons/Interpolation.png);
}

.settingsIcon {
   background-image: url(../Images/Icons/Settings.png);
}

.helpIcon {
   background-image: url(../Images/Icons/Help.png);
}

.documentIcon {
   background-image: url(../Images/Icons/Document.png);
}

.userNameIcon {
   background-image: url(../Images/Icons/UserName.png);
}

.showTextIndicatorsIcon {
   background-image: url(../Images/Icons/ShowTextIndicators.png);
}

.showLinksIcon {
   background-image: url(../Images/Icons/ShowLinks.png);
}

.selectIcon {
   background-image: url(../Images/Icons/Hand.png);
}

.lineIcon {
   background-image: url(../Images/Icons/Line.png);
}

.rectangleIcon {
   background-image: url(../Images/Icons/Rectangle.png);
}

.ellipseIcon {
   background-image: url(../Images/Icons/Circle.png);
}

.polylineIcon {
   background-image: url(../Images/Icons/Polyline.png);
}

.polygonIcon {
   background-image: url(../Images/Icons/Polygon.png);
}

.curveIcon {
   background-image: url(../Images/Icons/SCurve.png);
}

.closedCurveIcon {
   background-image: url(../Images/Icons/BSpline.png);
}

.pointerIcon {
   background-image: url(../Images/Icons/Pointer.png);
}

.freehandIcon {
   background-image: url(../Images/Icons/Pen.png);
}

.hiliteIcon {
   background-image: url(../Images/Icons/Highlight.png);
}

.textIcon {
   background-image: url(../Images/Icons/A.png);
}

.textPointerIcon {
   background-image: url(../Images/Icons/AArrow.png);
}

.noteIcon {
   background-image: url(../Images/Icons/Note.png);
}

.stampIcon {
   background-image: url(../Images/Icons/Image.png);
}

.rubberStampIcon {
   background-image: url(../Images/Icons/Stamp.png);
}

.hotspotIcon {
   background-image: url(../Images/Icons/H.png);
}

.freehandHotspotIcon {
   background-image: url(../Images/Icons/HSquiggles.png);
}

.pointIcon {
   background-image: url(../Images/Icons/RoundX.png);
}

.redactionIcon {
   background-image: url(../Images/Icons/Redact.png);
}

.rulerIcon {
   background-image: url(../Images/Icons/Ruler.png);
}

.polyRulerIcon {
   background-image: url(../Images/Icons/90DegreeRuler.png);
}

.protractorIcon {
   background-image: url(../Images/Icons/Protractor.png);
}

.crossProductIcon {
   background-image: url(../Images/Icons/Intersect.png);
}

.textRollupIcon {
   background-image: url(../Images/Icons/Pin.png);
}

.audioIcon {
   background-image: url(../Images/Icons/Sound.png);
}

.videoIcon {
   background-image: url(../Images/Icons/Video.png);
}

.triangleIcon {
   background-image: url(../Images/Icons/Triangle.png);
}

.richTextIcon {
   background-image: url(../Images/Icons/RichText.png);
}

.butnAnnotationIcon {
   background-image: url(../Images/Icons/Burn.png);
}

.lockIcon {
   background-image: url(../Images/Icons/Lock.png);
}

.unlockIcon {
   background-image: url(../Images/Icons/Unlock.png);
}

.textHiliteIcon {
   background-image: url(../Images/Icons/THighlight.png);
}

.textStrikeoutIcon {
   background-image: url(../Images/Icons/Strikethrough.png);
}

.textUnderlineIcon {
   background-image: url(../Images/Icons/Underline.png);
}

.textRedactionIcon {
   background-image: url(../Images/Icons/TRedact.png);
}

.stickyNoteIcon {
   background-image: url(../Images/Icons/StickyNotes.png);
}

.applyDecryptorIcon {
   background-image: url(../Images/Icons/ApplyDecryptor.png);
}

.applyEncryptorIcon {
   background-image: url(../Images/Icons/ApplyEncryptor.png);
}

.restoreRedactIcon {
   background-image: url(../Images/Icons/RestoreRedact.png);
}

.realizeRedactIcon {
   background-image: url(../Images/Icons/RealizeRedact.png);
}

.runModeIcon {
   background-image: url(../Images/Icons/Run.png);
}

.designModeIcon {
   background-image: url(../Images/Icons/Solid.png);
}

.renderModeIcon {
   background-image: url(../Images/Icons/RenderMode.png);
}

.renderModeSettingsIcon {
   background-image: url(../Images/Icons/RenderModeSettings.png);
}

.bringToFrontIcon {
   background-image: url(../Images/Icons/ToFront.png);
}

.sendToBackIcon {
   background-image: url(../Images/Icons/ToBack.png);
}

.bringToFirstIcon {
   background-image: url(../Images/Icons/ToFirst.png);
}

.sendToLastIcon {
   background-image: url(../Images/Icons/ToLast.png);
}

.groupIcon {
   background-image: url(../Images/Icons/Group.png);
}

.ungroupIcon {
   background-image: url(../Images/Icons/Ungroup.png);
}

.resetRotatePointIcon {
   background-image: url(../Images/Icons/ResetRotatePoint.png);
}

.rotateThumbIcon {
   background-image: url(../Images/Icons/RotateThumb.png);
}

.renderOnThumbnailsIcon {
   background-image: url(../Images/Icons/RenderAnnOnThumbnails.png);
}

.deselectOnDown-MouseIcon {
   background-image: url(../Images/Icons/DeselectOnDown-Mouse.png);
}

.deselectOnDown-TouchIcon {
   background-image: url(../Images/Icons/DeselectOnDown-Touch.png);
}

.rubberbandSelect-MouseIcon {
   background-image: url(../Images/Icons/SelectAllAnnotations.png);
}

.rubberbandSelect-TouchIcon {
   background-image: url(../Images/Icons/SelectAllAnnotations.png);
}

.twoParallelIcon {
   background-image: url(../Images/Icons/ParallelLines.png);
}

.fourParallelIcon {
   background-image: url(../Images/Icons/FourLines.png);
}

.midLinesIcon {
   background-image: url(../Images/Icons/Midline.png);
}

.snapLinesIcon {
   background-image: url(../Images/Icons/Snap.png);
}

.intersectionLinesIcon {
   background-image: url(../Images/Icons/Intersect.png);
}

.cobbAngleIcon {
   background-image: url(../Images/Icons/CobbAngle.png);
}

.norbergIcon {
   background-image: url(../Images/Icons/Norberg.png);
}

.firstPage-sm-Icon {
   background-image: url(../Images/Icons/FirstPage-Small.png);
}

.previousPage-sm-Icon {
   background-image: url(../Images/Icons/PreviousPage-Small.png);
}

.nextPage-Small-sm-Icon {
   background-image: url(../Images/Icons/NextPage-Small.png);
}

.lastPage-sm-Icon {
   background-image: url(../Images/Icons/LastPage-Small.png);
}

.rotateCounterClockwiseIcon-sm-Icon {
   background-image: url(../Images/Icons/CounterClockwise-Small.png);
}

.rotateClockwiseIcon-sm-Icon {
   background-image: url(../Images/Icons/Clockwise-Small.png);
}

.zoomIn-sm-Icon {
   background-image: url(../Images/Icons/ZoomIn-Small.png);
}

.zoomOut-sm-Icon {
   background-image: url(../Images/Icons/ZoomOut-Small.png);
}

.reload-sm-Icon {
   background-image: url(../Images/Icons/Reload-Small.png);
}


.find-xs-Icon {
   background-image: url(../Images/Icons/Find-XSmall.png);
}

.next-xs-Icon {
   background-image: url(../Images/Icons/NextPage-XSmall.png);
}

.previous-xs-Icon {
   background-image: url(../Images/Icons/PreviousPage-XSmall.png);
}

.documentAnnotationsIcon {
   background-image: url(../Images/Icons/DocumentAnnotations.png);
}

.medicalAnnotationIcon {
   background-image: url(../Images/Icons/MedicalAnnotation.png);
}

.objectsAlignmentOptionsIcon {
   background-image: url(../Images/Icons/Center-Align.png);
}

.alignToLeft {
   background-image: url(../Images/Icons/Left-Align.png);
}

.alignToCenter {
   background-image: url(../Images/Icons/Center-Align.png);
}

.alignToRight {
   background-image: url(../Images/Icons/Right-Align.png);
}

.alignToTop {
   background-image: url(../Images/Icons/Top-Align.png);
}

.alignToMiddle {
   background-image: url(../Images/Icons/Middle-Align.png);
}

.alignToBottom {
   background-image: url(../Images/Icons/Bottom-Align.png);
}

.makeSameWidth {
   background-image: url(../Images/Icons/Make-Same-Width.png);
}

.makeSameHeight {
   background-image: url(../Images/Icons/Make-Same-Height.png);
}

.makeSameSize {
   background-image: url(../Images/Icons/Make-Same-Size.png);
}

.scan {
   background-image: url(../Images/Icons/Scan.png);
}

.scanSelect {
   background-image: url(../Images/Icons/ScanSelect.png);
}

.print {
   background-image: url(../Images/Icons/Print.png);
}
