/* This file was created in SCSS (SASS). Please change the .scss file, not the .css file. */
.lt-imageviewer-viewdiv + .lt-imageviewer-forecanvas.ready-for-transitions {
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease; }

canvas.lt-imageviewer-forecanvas.ready-for-transitions.hide-for-transitions {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0; }

.lt-imageviewer .lt-view, .lt-imageviewer .lt-image-loaded .lt-image-border, .lt-imageviewer .lt-imageviewer-passthrough .lt-image-border {
  /* Box Shadow (view, item, image border) */
  box-shadow: #333 2px 2px 5px 1px; }

.lt-imageviewer .lt-view.ready-for-transitions, .lt-imageviewer .lt-view.ready-for-transitions *, .lt-imageviewer .lt-imageviewer-passthrough.ready-for-transitions, .lt-imageviewer .lt-imageviewer-passthrough.ready-for-transitions * {
  /* CSS Transitions (view, all elements inside) */
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  -moz-transition-property: color, border-color, background-color, width, height, transform, padding, margin, border-width;
  -o-transition-property: color, border-color, background-color, width, height, transform, padding, margin, border-width;
  -webkit-transition-property: color, border-color, background-color, width, height, -webkit-transform, padding, margin, border-width;
  transition-property: color, border-color, background-color, width, height, transform, padding, margin, border-width; }

.lt-imageviewer .lt-view {
  /* View */
  border: 2px solid #62a2e4;
  background-color: #c9e0f7;
  margin: 15px;
  padding: 10px; }

.lt-imageviewer .lt-item {
  /* Item */
  border: 0 solid #e4a462;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  /* Image Loading */
  /* Image Loaded */ }
  .lt-imageviewer .lt-item.lt-item-hovered {
    /* Hovered Item in selection mode */
    border-color: #d57e25;
    background-color: transparent; }
  .lt-imageviewer .lt-item.lt-item-selected {
    /* Selected Item in selection mode */
    border-color: #62a2e4;
    background-color: transparent; }
  .lt-imageviewer .lt-item.lt-item-active {
    /* Active Item */
    border-color: #e462e3;
    background-color: transparent; }
  .lt-imageviewer .lt-item.lt-image-loading::after, .lt-imageviewer .lt-item.image_loading::after {
    content: "Loading Image..."; }
  .lt-imageviewer .lt-item.lt-image-loaded::after {
    display: none; }
  .lt-imageviewer .lt-item.lt-image-loaded .lt-image-border {
    /* Image Border */
    /* Only show border when an image is loaded. */
    border: 2px solid #333; }

.lt-imageviewer .lt-imageviewer-passthrough .lt-image-border {
  /* Image Border */
  border: 2px solid #333; }

.lt-imageviewer .lt-image {
  /* Image */
  background-color: white; }

.lt-imageviewer .lt-backimage + .lt-image {
  /* Image */
  background-color: transparent; }

.lt-imageviewer .lt-backimage {
  /* Image */
  background-color: white; }

@-webkit-keyframes transparency {
  from {
    opacity: 1; }
  to {
    opacity: .4; } }

@keyframes transparency {
  from {
    opacity: 1; }
  to {
    opacity: .4; } }

.lt-imageviewer .lt-item:not(.lt-image-loaded):not(.lt_no_display).image_error::after {
  content: " ";
  overflow: hidden;
  height: 100%;
  position: relative;
  display: block;
  background: url(../Images/Icons/Close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5fafe;
  opacity: .2; }

.lt-imageviewer .lt-item:not(.lt-image-loaded):not(.lt_no_display):not(.image_error)::after {
  position: relative;
  color: #333;
  display: block;
  margin: 0 auto;
  height: 25px;
  line-height: 25px;
  top: calc(30% - 12.5px);
  font-size: 13px;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  max-width: 200px;
  min-width: 50px;
  width: 50%;
  -moz-animation-name: transparency;
  -o-animation-name: transparency;
  -webkit-animation-name: transparency;
  animation-name: transparency;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

.lt-imageviewer .lt-item:not(.lt-image-loaded):not(.lt_no_display) .lt-image-border {
  /* Image Border */
  /* Only show full border when an image is loaded. */
  border: 2px solid rgba(51, 51, 51, 0.5);
  /* Make background white while loading, change if you like */
  background-color: white; }

.lt-imageviewer .lt-item-text {
  /* Item Text */
  color: #333;
  font-size: 16px;
  bottom: 0;
  width: inherit;
  text-align: center; }

