$namespace: ".lt-imageviewer";
$passthrough: $namespace + "-passthrough";
$prefix: ".lt-";
$view: $prefix + "view";
$item: $prefix + "item";
$image: $prefix + "image";
$backimage: $prefix + "backimage";
$image-clipping: $prefix + "image-clipping";
$image-flip: $prefix + "image-flip";
$image-border: $prefix + "image-border";
$item-text: $prefix + "item-text";

$disable-transitions: $prefix + "disable-transitions";
$item-hovered: $prefix + "item-hovered";
$item-selected: $prefix + "item-selected";
$item-active: $prefix + "item-active";

// States - item's image is loading (if by item.url = ...), item's image is loaded
// applied to the item, not the image, for better selector logic
$image-loading: $prefix + "image-loading";
$image-loaded: $prefix + "image-loaded";

$app-image-loading: ".image_loading";
$app-image-error: ".image_error";

/* This file was created in SCSS (SASS). Please change the .scss file, not the .css file. */

// View
$view-margin: 15px;
$view-border-width: 2px;
$view-padding: 10px;

$view-border-color: #62a2e4;
$view-background-color: #c9e0f7;

// Item
$item-margin: 0px;
$item-border-width: 0;
$item-padding: 0px;

$item-border-color: complement($view-border-color);
$item-background-color: transparent; //complement($view-background-color);

$item-hovered-border-color: darken($item-border-color, 15%);
$item-hovered-background-color: darken($item-background-color, 15%);
$item-selected-border-color: adjust-hue($item-border-color, 180);
$item-selected-background-color: adjust-hue($item-background-color, 180);
$item-active-border-color: adjust-hue($item-border-color, 270);
$item-active-background-color: adjust-hue($item-background-color, 270);

// Image, Border, Text
$image-border-width: 2px;
$image-border-color: #333;
$image-background-color: white;
$text-color: #333;

// For DocumentViewerDemo - hiding canvas
#{$namespace}-viewdiv + #{$namespace}-forecanvas.ready-for-transitions {
   // make the canvas have transitions
   -webkit-transition: opacity .2s ease;
   -moz-transition: opacity .2s ease;
   -o-transition: opacity .2s ease;
   transition: opacity .2s ease;
}

canvas#{$namespace}-forecanvas.ready-for-transitions.hide-for-transitions {
   -webkit-transition: none;
   -moz-transition: none;
   -o-transition: none;
   transition: none;
   opacity: 0;
}

#{$namespace} {

   #{$view}, /*#{$item}, */ #{$image-loaded} #{$image-border}, #{$passthrough} #{$image-border} {
      /* Box Shadow (view, item, image border) */
      box-shadow: #333 2px 2px 5px 1px;
   }

   #{$view}.ready-for-transitions, #{$passthrough}.ready-for-transitions {
      &, * /*:not(#{$image})*/ {
         /* CSS Transitions (view, all elements inside) */
         -webkit-transition: all .6s ease;
         -moz-transition: all .6s ease;
         -o-transition: all .6s ease;
         transition: all .6s ease;
         -moz-transition-property: color, border-color, background-color, width, height, transform, padding, margin, border-width;
         -o-transition-property: color, border-color, background-color, width, height, transform, padding, margin, border-width;
         -webkit-transition-property: color, border-color, background-color, width, height, -webkit-transform, padding, margin, border-width;
         transition-property: color, border-color, background-color, width, height, transform, padding, margin, border-width;
      }
   }

   #{$view} {
      /* View */
      border: $view-border-width solid $view-border-color;
      background-color: $view-background-color;
      margin: $view-margin;
      padding: $view-padding;
   }

   #{$item} {
      /* Item */
      border: $item-border-width solid $item-border-color;
      background-color: $item-background-color;
      margin: $item-margin;
      padding: $item-padding;

      &#{$item-hovered} {
         /* Hovered Item in selection mode */
         border-color: $item-hovered-border-color;
         background-color: $item-hovered-background-color;
      }

      &#{$item-selected} {
         /* Selected Item in selection mode */
         border-color: $item-selected-border-color;
         background-color: $item-selected-background-color;
      }

      &#{$item-active} {
         /* Active Item */
         border-color: $item-active-border-color;
         background-color: $item-active-background-color;
      }
      /* Image Loading */
      &#{$image-loading}::after, &#{$app-image-loading}::after  {
         content: "Loading Image...";
      }
      /* Image Loaded */
      &#{$image-loaded}::after {
         display: none;
      }

      &#{$image-loaded} #{$image-border} {
         /* Image Border */
         /* Only show border when an image is loaded. */
         border: $image-border-width solid $image-border-color;
      }
   }

   #{$passthrough} #{$image-border} {
      /* Image Border */
      border: $image-border-width solid $image-border-color;
   }

   #{$image} {
      /* Image */
      background-color: $image-background-color;
   }

   #{$backimage} + #{$image} {
      /* Image */
      background-color: transparent;
   }

   #{$backimage} {
      /* Image */
      background-color: $image-background-color;
   }


   #{$item}:not(#{$image-loaded}) {

      @-webkit-keyframes transparency {
         from {
            opacity: 1;
         }

         to {
            opacity: .4;
         }
      }

      @keyframes transparency {
         from {
            opacity: 1;
         }

         to {
            opacity: .4;
         }
      }

      &:not(.lt_no_display) {

         &#{$app-image-error}::after {
            content: " ";
            overflow: hidden;
            height: 100%;
            position: relative;
            display: block;
            background: url(../Images/Icons/Close.png);
            background-position: center;
            background-repeat: no-repeat;
            background-color: lighten($view-background-color, 10%);
            opacity: .2;
         }

         &:not(#{$app-image-error})::after {
            position: relative;
            color: #333;
            display: block;
            margin: 0 auto;
            height: 25px;
            line-height: 25px;
            top: calc(30% - 12.5px);
            font-size: 13px;
            overflow: hidden;
            font-weight: bold;
            text-align: center;
            max-width: 200px;
            min-width: 50px;
            width: 50%;
            -moz-animation-name: transparency;
            -o-animation-name: transparency;
            -webkit-animation-name: transparency;
            animation-name: transparency;
            -moz-animation-duration: 1.5s;
            -o-animation-duration: 1.5s;
            -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
            -moz-animation-timing-function: linear;
            -o-animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -moz-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -moz-animation-direction: alternate;
            -o-animation-direction: alternate;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
         }

         #{$image-border} {
            /* Image Border */
            /* Only show full border when an image is loaded. */
            border: $image-border-width solid transparentize($image-border-color, .5);
            /* Make background white while loading, change if you like */
            background-color: $image-background-color;
         }
      }
   }

   #{$item-text} {
      /* Item Text */
      color: $text-color;
      font-size: 16px;
      bottom: 0;
      width: inherit;
      text-align: center;
   }
}
